<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>MUM Registration System</title>
  <!-- plugins:css -->
  <link rel="stylesheet" th:href="@{/css/vendor/iconfonts/mdi/css/materialdesignicons.min.css}">
  <link rel="stylesheet" th:href="@{/css/vendor/css/vendor.bundle.base.css}">
  <!-- endinject -->
  <!-- inject:css -->
  <link rel="stylesheet" th:href="@{/css/style.css}">
  <!-- endinject -->
  <link rel="shortcut icon" th:href="@{/css/images/mum.jpg}"/>
</head>