<!DOCTYPE html>
<html lang="en">

<head>
  <th:block th:include = "fragments/include"/>
</head>
<body>
  <div class="container-scroller">
    <!-- partial:partials/_navbar.html -->
	
    <th:block th:include = "fragments/header"/>
      <!-- partial -->
      <div class="main-panel">
        <div class="content-wrapper">
			<form class="forms-sample" th:action="@{/createschedule}"  method="post">
		                    <div class="form-group">
		                      <label for="exampleSelectGender"><h3> Years available to Create Schedule </h3></label>
		                        <select class="form-control" id="ScheduleID" name="ScheduleID" >
		                          <option  th:each = "year : ${years}" th:value = "${year}" th:text = "${year}"></option>
		                        </select>
		                    </div>
		                 
		                    <button type="submit" value="Submit" class="btn btn-gradient-primary mr-2">Submit</button>
		                    <button class="btn btn-light">Cancel</button>
		                    <p th:text="${Success}"></p>
                  </form>
          
        </div>
        <!-- content-wrapper ends -->
        <!-- partial:partials/_footer.html -->
        <!-- partial -->
      </div>
      <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->

  <!-- plugins:js -->
  <script src="vendors/js/vendor.bundle.base.js"></script>
  <script src="vendors/js/vendor.bundle.addons.js"></script>
  <!-- endinject -->
  <!-- Plugin js for this page-->
  <!-- End plugin js for this page-->
  <!-- inject:js -->
  <script src="js/off-canvas.js"></script>
  <script src="js/misc.js"></script>
  <!-- endinject -->
  <!-- Custom js for this page-->
  <script src="js/dashboard.js"></script>
  <!-- End custom js for this page-->
</body>

</html>
